@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
}

.container {
  min-height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, right bottom, left top, from(#5062FF), to(#97A0F0));
  background: -o-linear-gradient(bottom right, #5062FF, #97A0F0);
  background: linear-gradient(to top left, #5062FF, #97A0F0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container .main {
  min-height: 250px;
  width: 335px;
  background: #E8ECFF;
  border-radius: 10px;
  padding: 20px;
  margin: 0;

}

.main h2 {
  font-weight: 700;
  font-size: 22px;
  color: #111;
  border-bottom: 1px solid #777;
  padding-bottom: 10px;
}

input[type="text"] {
  margin-top: 2em;
  width: 80%;
  height: 46px;
  padding: 6px 15px;
  outline: 0;
  border: 0;
  border-radius: 5px 0 0 5px;
  font-size: 15px;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
  cursor: pointer;

}

input[type="text"]:focus {
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.7);
}

.add-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main button {
  margin-top: 1.26em;
  padding: 7px 20px;
  height: 47px;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  outline: none;
  border: 0;
  background-color: #4489FF;
  color: #fff;
  border-radius: 0 7px 7px 0;
  border-left: 1px solid #888;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.7);
  cursor: pointer;

}

.main img {
  color: #fff;
  height: 28px;
  text-align: center;
  display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1px;
}

.main button:active {
  background-color: #448AEC96;
  color: #E6E6E6;
}


.store-items ul {
  list-style: none;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1em;
  position: relative;
  left: 30px;
}

.store-items ul li {
  font-size: 17px;
  font-weight: 550;
  padding-left: 10px;
  width: 80%;

}

.store-items ul li::before {
  content: " ";
  height: 19px;
  width: 19px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  left: -26px;
  margin-top: 2px;

}

.checked {
  text-decoration: line-through;
  color: #0000006E;
}

.store-items ul .checked::before {
  background: url("checked.png");
  background-position: center;
  background-size: 170%;
  background-repeat: no-repeat;
  border: 0;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

span {
  position: absolute;
  right: 40px;
  margin-top: -6px;
  cursor: pointer;
}

span i {
  font-size: 20px;
  border-radius: 50%;
  padding: 8px 10px;
}


span i:hover,
span i:active {
  background-color: #A9B0C330;
}

.store-items ul li hr {
  margin-top: 10px;
}

.store-items {
  position: relative;
}

.store-items .box {
  height: 30px;
  width: 100%;
  background-color: #FFDBDB;
  border-radius: 2px;
  padding: 10px 20px;
  position: absolute;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  z-index: 999;
  visibility: hidden;
}

.shake {
  -webkit-animation: shake .6s infinite;
  animation: shake .6s infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px);
    transform: translate(2px);
  }

  20% {
    -webkit-transform: translate(-2px);
    transform: translate(-2px);
  }

  40% {
    -webkit-transform: translate(2px);
    transform: translate(2px);
  }

  60% {
    -webkit-transform: translate(-2px);
    transform: translate(-2px);
  }

  80% {
    -webkit-transform: translate(2px);
    transform: translate(2px);
  }

  100% {
    -webkit-transform: translate(-2px);
    transform: translate(-2px);
  }
}

@media screen and (min-width: 669px) {
  .container .main{
    width: 600px;
  }
  .store-items ul{
    padding-left: 15px;
  }
  .store-items ul .checked::before{
    margin-left: 15px;
  }
}


